@import "./assets/Fonts/stylesheet.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important; /* The universal selector will apply this globally */
}

html,
body {
  margin: 0;
  padding: 0; /* These are redundant since they are already set globally */
  font-family: inherit; /* Use inherit to avoid redundancy since it's defined in the universal selector */
  overflow-x: hidden;
}

section {
  padding: 50px 200px;
}

.logo {
  width: 150px;
  object-fit: contain;
}
.logo2 {
  width: 200px;
  object-fit: contain;
}

/* override the colors */
.text-orange {
  color: #eb9a37;
}

nav {
  height: 80px;
  z-index: 1000;
  color: white;
  transition: background-color 0.3s ease;
}

nav ul {
  text-decoration: none;
  list-style: none;
}

nav.scrolled {
  background-color: #333 !important; /* Change to your desired color */
}

nav .logo-text {
  font-family: "DIN", sans-serif;
  font-size: 35px !important;
  font-weight: 500 !important;
}

nav li a .nav-opacity {
  color: rgba(255, 255, 255, 0.5) !important;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.swiper-container-hero {
  width: 100vw;
  height: 100vh;
}

.swiper-container-hero .swiper-slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-size: 26px;
}
.hero-text h4 {
  font-weight: 400;
}
.hero-text p {
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 32px;
  }

  .hero-text h4 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1600px) {
  .hero-title {
    font-size: 40px;
  }

  .hero-text h4 {
    font-size: 34px;
  }

  .hero-text p {
    font-size: 22px;
    line-height: 28px;
  }
}
@media (min-width: 1900px) {
  .hero-title {
    font-size: 40px;
  }

  .hero-text h4 {
    font-size: 44px;
  }

  .hero-text p {
    font-size: 22px;
    line-height: 30px;
  }
}

/* why-forge */
.why-forge {
  background-color: black;
  color: white;
}

.about-header {
  font-weight: 900;
  font-size: 34px;
  color: #df6437;
}

.about-desc {
  width: 80%;
  font-size: 18px;
}

@media (max-width: 768px) {
  .about-desc {
    width: 100%;
  }
}

.about-content {
}

.btn-orange {
  background-color: #cf5935 !important;
  color: white !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  cursor: pointer;
}

.nav-link {
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.nav-link.active {
  border-bottom: 2px solid #e06437;
}

.overlay-black-linear-gradient {
  background: #090400;
  opacity: 0.63;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Footer */
.footer {
  background-color: #181819;
}

.footer .footer-head {
  font-weight: bold;
  color: #eb9a37;
}

.footer-input-container {
  background-color: #707070;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  gap: 0px;
  padding: 0px;
  border: 2px solid white;
  overflow: hidden;
}

.footer input {
  padding: 10px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.footer input::placeholder {
  color: white;
}

.footer button {
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0px;
  border: none;
  outline: none;
  background-color: white;
  color: #f1a039;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1500px) {
  section {
    padding: 50px 160px;
  }
}

@media (max-width: 1360px) {
  section {
    padding: 50px 120px;
  }
}

.footer-menu {
  min-width: 200px;
  width: 300px;
}

.swiper-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Responsive image styling */
.impact-image {
  width: 100%; /* Make images fully responsive */
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Ensure the image is scaled properly */
}

@media (max-width: 768px) {
  .head {
    font-size: 1.5rem;
  }
}

/* Responsive Design */

@media (max-width: 768px) {
  .hero-content {
    gap: 1.5rem;
  }
}

.hamburger-menu {
  display: none;
}

@media (max-width: 1080px) {
  /* Navbar */
  nav {
    padding: 1rem;
  }

  nav .nav-menus {
    display: none !important;
  }

  nav .hamburger-menu {
    display: block;
  }
}

@media (max-width: 920px) {
  nav .logo-text {
    font-size: 1.5rem !important;
  }

  .logo {
    width: 100px;
  }

  .nav-link {
    font-size: 0.9rem;
  }
}

/* Hero Section */

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: gray;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mobile-menu.hide {
  display: none !important;
}

.mobile-menu.show {
  display: flex !important;
}
@media (max-width: 920px) {
  section {
    padding: 50px 60px;
  }

  .swiper img {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  section {
    padding: 50px 40px;
  }
}

@media (max-width: 576px) {
  section {
    padding: 50px 20px;
  }
}

.footer .footer-logo img {
  width: 150px;
  object-fit: contain;
}

/* Head */
@media (max-width: 768px) {
  .head {
    font-size: 2rem !important;
    margin-bottom: 4px;
  }
}

/* core */
.core-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #f8e3d4;
  opacity: 0.6;
}
.core-head {
  color: #df6437;
}

.bold {
  font-weight: 800;
}

.core-head h3 {
  line-height: 22px;
}

/* card slider */
.card-wrapper {
  overflow: hidden;
  border-radius: 20px;
}
.card-swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-swiper .swiper-wrapper {
  width: 90%;
  display: flex;
  /* align-items: center; */
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f0001;
}
.card-header {
  color: #df6437;
  font-size: 32px;
  font-weight: 700;
}
.swiper-slide {
  position: relative;
}

.card-slide-content-wrapper {
  width: 100%;
  /* padding: 0px 40px; */
  padding-left: 0px;
  padding-right: 30px;
  display: flex;
  gap: 10px;
}
@media (min-width: 1400px) {
  .card-slide-content-wrapper {
    /* padding: 0px 80px; */
    padding-left: 16px;
    padding-right: 0px;
  }
}
@media (max-width: 1024px) {
  .card-slide-content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .card-slide-content {
  }
}

.card-slide-content {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  color: white;
}

.card-content-img {
  height: 80px;
  object-fit: contain;
}

/* ventures */
.banner-head {
  font-size: 32px;
  font-weight: 700;
  color: #df6437;
}

.venture-card {
  border-radius: 20px;
  overflow: hidden;
  width: fit-content;
}

.venture-intro {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* transition: all ease-in-out 400ms; */
}

.venture-intro:hover {
  opacity: 100;
}

.venture-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.venture-intro-wrapper {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.venture-intro-wrapper a {
  width: fit-content;
}
.venture-intro-img {
  width: fit-content;
  height: 10px;
  object-fit: contain;
}

.venture-card-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .venture-intro-wrapper {
    padding: 40px 30px;
  }
  .venture-intro-img {
    height: 30px;
  }
  .venture-card-img {
    max-height: 360px;
  }
}

@media (min-width: 768px) {
  .venture-intro-wrapper {
    padding: 40px 30px;
  }
  .venture-intro-img {
    height: 30px;
  }
}

@media (min-width: 1500px) {
  .venture-intro-wrapper {
    padding: 60px 40px;
  }
  .venture-intro-img {
    height: 40px;
  }
}

.venture-card-info {
  padding: 20px 40px;
  color: black;
  background-color: #df6437;
}
.venture-card-info span {
  font-size: 32px;
  font-weight: 600;
  line-height: 28px;
}

.venture-card-info p {
  color: white;
  font-size: 18px;
}
@media (max-width: 1100px) {
  .venture-card-info span {
    font-size: 20px;
  }
  .venture-card-info p {
    font-size: 14px;
  }
}

@media (max-width: 1500px) {
  .venture-card-info span {
    font-size: 24px;
  }
  .venture-card-info p {
    color: white;
    font-size: 14px;
  }
}

@media (min-width: 1500px) {
  .venture-card-info span {
    font-size: 28px;
  }

  .venture-card-info p {
    color: white;
    font-size: 18px;
  }
}

.swiper-button-next {
  position: absolute;
  right: 20px;
  z-index: 20;
  background: url("assets/Fast/right-arrow.png") no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  color: transparent;
}

.swiper-button-prev {
  position: absolute;
  left: 20px;
  background: url("assets/Fast/left-arrow.png") no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  color: transparent;
}
