@import "./assets/Fonts/stylesheet.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important; /* The universal selector will apply this globally */
}

html,
body {
  margin: 0;
  padding: 0; /* These are redundant since they are already set globally */
  font-family: inherit; /* Use inherit to avoid redundancy since it's defined in the universal selector */
  overflow-x: hidden;
}

section {
  padding: 50px 200px;
}

.logo {
  width: 150px;
  object-fit: contain;
}
.logo2 {
  width: 200px;
  object-fit: contain;
}

/* override the colors */
.text-orange {
  color: #eb9a37;
}

nav {
  height: 80px;
  z-index: 1000;
  color: white;
  transition: background-color 0.3s ease;
}

nav.scrolled {
  background-color: #333 !important; /* Change to your desired color */
}

nav .logo-text {
  font-family: "DIN", sans-serif;
  font-size: 35px !important;
  font-weight: 500 !important;
}

nav li a .nav-opacity {
  color: rgba(255, 255, 255, 0.5) !important;
}

.hero {
  background: url("./assets/Funds/BG\ Image.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-title {
  font-size: 32px;
}

.hero-text h4 {
  font-size: 28px;
}

.hero-text p {
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 46px;
  }

  .hero-text h4 {
    font-size: 38px;
  }

  .hero-text p {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 1600px) {
  .hero-title {
    font-size: 46px;
  }

  .hero-text h4 {
    font-size: 38px;
  }

  .hero-text p {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (min-width: 1900px) {
  .hero-title {
    font-size: 56px;
  }

  .hero-text h4 {
    font-size: 48px;
  }

  .hero-text p {
    font-size: 28px;
    line-height: 36px;
  }
}

.header-swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.btn-orange {
  background-color: #cf5935 !important;
  color: white !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  cursor: pointer;
}

.nav-link {
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.nav-link.active {
  border-bottom: 2px solid #e06437;
}

.overlay-black-linear-gradient {
  background: #090400;
  opacity: 0.63;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero-head {
  font-size: 56px;
  font-weight: bold;
  line-height: 1;
  width: 100%;
}

.hero-desc {
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  max-width: 600px;
}

/* Banner */
.banner {
  display: flex;
}
.banner-head {
  flex: 2;
  color: #df6437;
}

.banner-head h3 {
  width: 50%;
  font-weight: 800;
}

.banner-desc {
  flex: 3;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner-head h3 {
    width: 100%;
  }
  .banner-desc p {
    margin-bottom: 20px;
    text-align: center;
  }
}

/* forge portfolio section */
.forge-portfolio img {
  width: 100%;
}
@media (min-width: 768px) {
  .forge-portfolio img {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .forge-portfolio img {
    width: 70%;
  }
}

@media (min-width: 1600px) {
  .forge-portfolio img {
    width: 60%;
  }
}

/* Partners section */
.projects-swiper {
  margin: auto;
}

.partners-header {
  color: #898989;
  text-align: center;
}

@media (min-width: 768px) {
  .centerSlide .swiper-wrapper {
    display: flex;
    justify-content: center;
  }
}

.technology .overlay {
  background-color: #090400;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Tab1 */
.tab-1 .tab-content {
  background-color: #26241f;
  color: white;
}

.tab-1 .head {
  text-transform: uppercase;
  color: #df6437;
  font-size: 38px;
  font-family: "DIN", sans-serif;
  font-weight: bold;
  text-align: center;
}

.nav-tabs,
.tab-content {
  width: 100%;
}

.tab-1 button img {
  width: 80%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  object-fit: cover;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-tabs button {
  background-color: transparent;
  border: none !important;
  outline: none !important;
  border-top: 2px solid #df6437 !important;
  cursor: pointer;
  border-radius: 0px !important;
  padding: 20px;
  padding-bottom: 10px;
  height: 100px;
  width: 300px;
  position: relative;
}

.tab-1 .nav-tabs button {
  background-color: transparent !important;
  border-top: 2px solid #df6437 !important;
  color: #df6437;
}

.nav-tabs button:hover {
  background-color: transparent !important;
}

.tab-1 .nav-tabs button.active {
  border: 0px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  background-color: #df6437 !important;
}

.tab-1 .tab-pane button {
  background-color: #df6437;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}

.tab-1 .tab-pane .head {
  font-size: 24px;
  color: black;
  text-align: left !important;
}

.tab-content {
  position: relative;
}

.tab-1 .tab-content img {
  width: 100%;
  object-fit: cover;
}

.tab-2 .nav-tabs button {
  font-size: 20px;
  background-color: transparent;
  font-family: "DIN", sans-serif;
  text-align: left;
  border: 0px !important;
  border-top: 2px solid #df6437 !important;
  border-radius: 0px !important;
  color: black !important;
}

.tab-2 .nav-tabs button.active {
  background-color: black !important;
  border: 0px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  color: white !important;
}

.tab-3 .nav-tabs button.active {
  background-color: #460809 !important;
}

.tab-2 .tab-content,
.tab-1 .tab-content,
.tab-3 .tab-content {
  padding: 20px 40px;
}

/* Partners */
.partners .head,
.impact .head,
.technology .head {
  font-size: 38px;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
  color: #df6437;
  font-family: "DIN", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.text-dark-orange {
  color: #df6437 !important;
}

.img-fluid {
  object-fit: contain;
}

.partners span {
  font-size: 28px;
  color: black;
  font-family: "DIN", sans-serif;
  font-weight: bold;
}

.partners .hr {
  flex: 1;
  border: 0;
  height: 1px;
  background: #9b9b9b !important;
}

.partners-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.partners-slide .swiper-wrapper {
  margin-bottom: 50px !important ;
}

.projects-container {
  position: relative;
}

.projects-swiper {
  width: 80%;
}
/* .projects-swiper .swiper-slide {
  flex: 1 1 1;
}
.projects-swiper .swiper-slide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
} */
.projects-swiper .swiper-wrapper {
  margin-bottom: 20px;
}

.swiper-button-next {
  z-index: 20;
  background: url("assets/Academy/next-btn.png") no-repeat center center;
  background-size: contain;
  width: 20px; /* Adjust width */
  height: 20px; /* Adjust height */
  right: 0; /* Adjust position */
  color: transparent; /* Remove default arrow if icon is used */
}

.swiper-button-prev {
  background: url("assets/Academy/prev-btn.png") no-repeat center center;
  background-size: contain;
  width: 20px; /* Adjust width */
  height: 20px; /* Adjust height */
  left: 0; /* Adjust position */
  color: transparent; /* Remove default arrow if icon is used */
}

span.company-name {
  font-size: 16px;
  font-weight: bold;
  font-family: "DIN", sans-serif;

  color: black;
}

/* Technology */
.technology .tab-content {
  background: url("./assets/Images/technology_bg.png") no-repeat center
    center/cover;
  color: white;
  position: relative;
}

.text-yellow {
  color: #eb9a37 !important;
}

.acceleration .overlay {
  background-color: #460809;
  opacity: 0.9;
}

/* Footer */
.footer {
  background-color: #181819;
}

.footer .footer-head {
  font-weight: bold;
  color: #eb9a37;
}

.footer-input-container {
  background-color: #707070;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  gap: 0px;
  padding: 0px;
  border: 2px solid white;
  overflow: hidden;
}

.footer input {
  padding: 10px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.footer input::placeholder {
  color: white;
}

.footer button {
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0px;
  border: none;
  outline: none;
  background-color: white;
  color: #f1a039;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1500px) {
  section {
    padding: 50px 160px;
  }
}

@media (max-width: 1360px) {
  section {
    padding: 50px 120px;
  }
}

.footer-menu {
  min-width: 200px;
  width: 300px;
}

.swiper-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Responsive image styling */
.impact-image {
  width: 100%; /* Make images fully responsive */
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Ensure the image is scaled properly */
}

@media (max-width: 768px) {
  .head {
    font-size: 1.5rem;
  }
}

/* Responsive Design */
@media (max-width: 992px) {
  .hero-head {
    font-size: 2.5rem;
  }

  .hero-desc {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .hero-head {
    font-size: 2rem;
  }

  .hero-desc {
    font-size: 1rem;
  }

  .hero-content {
    gap: 1.5rem;
  }
}

@media (max-width: 576px) {
  .hero-head {
    font-size: 1.75rem;
  }

  .hero-desc {
    font-size: 0.9rem;
  }

  .hero {
    padding: 1rem;
  }
}

.hamburger-menu {
  display: none;
}

@media (max-width: 1080px) {
  /* Navbar */
  nav {
    padding: 1rem;
  }

  nav .nav-menus {
    display: none !important;
  }

  nav .hamburger-menu {
    display: block;
  }
}

@media (max-width: 920px) {
  nav .logo-text {
    font-size: 1.5rem !important;
  }

  .logo {
    width: 100px;
  }

  .nav-link {
    font-size: 0.9rem;
  }
}

/* Hero Section */

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: gray;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mobile-menu.hide {
  display: none !important;
}

.mobile-menu.show {
  display: flex !important;
}

.tab-content button {
  border: 0px !important;
}

@media (max-width: 480px) {
  .tab-2 .swiper-container img {
    width: 100% !important;
    object-fit: cover;
  }

  .tab-2 .swiper-container p {
    text-align: center;
  }

  .tab-2 .swiper-container h4 {
    text-align: center;
  }
}

.footer .footer-logo img {
  width: 150px;
  object-fit: contain;
}

/* Head */
@media (max-width: 768px) {
  .head {
    font-size: 2rem !important;
    margin-bottom: 4px;
  }
}

.head-p {
  width: 100%;
  /* max-width: 1000px; */
}

.tab-content .head {
  font-size: 1.5rem !important;
}

@media (max-width: 920px) {
  section {
    padding: 50px 60px;
  }

  .swiper img {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  section {
    padding: 50px 40px;
  }
}

@media (max-width: 576px) {
  section {
    padding: 50px 20px;
  }
}

@media (max-width: 760px) {
  .partners .academia img {
    max-width: 100px !important;
    width: 100% !important;
  }
}

@media (max-width: 760px) {
  .partners .academia img:nth-child(1) {
    width: 100% !important;
  }
}

@media (max-width: 760px) {
  .tab-3 .swiper-container img {
    width: 100% !important;
    max-width: 200px !important;
    object-fit: cover;
  }

  .tab-3 .swiper-container h1 {
    text-align: center !important;
    max-width: 250px;
  }

  .tab-3 .content-container {
    align-items: center !important;
    gap: 0.6rem !important;
  }

  .tab-3 .content-container p {
    text-align: center !important;
  }

  .forge-orange {
    width: 150px;
  }
}

@media (max-width: 920px) {
  .tab-2,
  .tab-3 button {
    padding: 10px 20px !important;
  }

  .tab-3 .nav-tabs {
    align-items: center !important;
    justify-content: center !important;
  }
}

.footer-input-container input {
  background-color: #707070 !important;
  color: white !important;
  font-size: 14px;
}

.footer-input-container input:focus {
  background: #e04f26 !important;
  border: none;
  color: white !important;
  outline: none;
}

.footer-input-container.focused {
  background-color: #e04f26;
  color: white;
}

.forge-orange {
  width: 200px;
  object-fit: contain;
}

.image-container-tab1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.image-container-tab1 img {
  width: 60px !important;
  object-fit: contain;
}

@media (max-width: 420px) {
  .image-container-tab1 img {
    width: 40px !important;
    object-fit: contain;
  }
}

.tab-1-3 .image-container-tab1 img {
  width: 100px !important;
  object-fit: contain;
}

.tab-1-3 .image-container-tab1 img:nth-child(1) {
  /* // multiply blend */
  mix-blend-mode: multiply !important;
}

ul {
  list-style-type: none;
}

.tab-1 .nav-tabs button.active {
  background-color: #221f1a !important;
  color: #df6437 !important;
}

/* Default Tab Button Styling */
.nav-tabs .nav-link {
  font-size: 1.25rem; /* Larger font size for better visibility */
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #df6437; /* Default text color */
  background-color: #f8e3d4; /* Match the section background */
  border: 2px solid #df6437; /* Orange border for consistency */
  border-top-left-radius: 20px; /* Rounded corners */
  border-top-right-radius: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease; /* Smooth transition for hover and active states */
}

/* Hover Effect */
.nav-tabs .nav-link:hover {
  color: #df6437; /* Text color changes to white */
  background-color: #df6437; /* Highlight background on hover */
}

/* Active Tab Styling */

.technology .nav-tabs .nav-link.active {
  color: #df6437; /* White text for the active tab */
  background-color: #df6437; /* Active tab background is orange */
  border: 2px solid #df6437; /* Maintain the orange border */
  border-bottom-color: #fff; /* Make it blend with the content background */
}

.nav-tabs .nav-link.active {
  color: #fff; /* White text for the active tab */
  background-color: #df6437; /* Active tab background is orange */
  border: 2px solid #df6437; /* Maintain the orange border */
  border-bottom-color: #fff; /* Make it blend with the content background */
}
/* Styling for Images in Tabs */
.tab-pane img {
  max-width: 80%; /* Ensure the image scales to 80% of its container width */
  height: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Ensure the image is displayed as a block element */
  margin: 0 auto; /* Center the image horizontally */
  transition: all 0.3s ease; /* Smooth transitions for resizing or other effects */
}

/* Styling for Logo Images */
.img-logo {
  max-width: 60% !important; /* Restrict logo images to 60% of the column */
  margin: 0 auto; /* Center the logo horizontally */
  display: block;
}

/* Styling for Map Images */
.img-map {
  max-width: 100% !important; /* Allow maps to take the full column width */
  height: auto; /* Maintain aspect ratio */
}

/* Flipping Card */
.flipping-card-container {
  display: flex;
  gap: 20px;
}

.flipping-card {
  flex: 1;
  height: fit-content;
  background: #000000;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  height: 240px;
}

.flip-card-certified .front,
.flip-card-certified .back {
  width: auto;
}
.flip-card-certified .back {
  width: auto;
}

.flipping-card .back p {
  /* margin-left: 24px; */
  width: 80%;
  text-align: left !important;
  font-size: 12px !important;
}
.flip-card-less-content .back p {
  font-size: 16px !important;
}

.polygon-text {
  font-size: 10px !important;
}

.flipping-card {
  perspective: 1000px;
}

@media (min-width: 1600px) {
  .flipping-card {
    height: 300px;
  }
  .flip-card-certified .back p {
    font-size: 16px !important ;
  }
  .flipping-card .back {
    padding: 0;
  }
  .polygon-text {
    font-size: 12px !important;
  }
}

@media (max-width: 1600px) {
  .flipping-card {
    height: 300px;
  }
  .flipping-card .back {
    padding: 0;
  }
  .flip-card-certified .back p {
    font-size: 12px !important ;
  }
  .polygon-text {
    font-size: 10px !important;
  }
}

@media (max-width: 1300px) {
  .flipping-card {
    height: 300px;
  }
  .flipping-card .back {
    padding: 0;
  }
  .flip-card-certified .back p {
    font-size: 12px !important ;
  }
  .polygon-text {
    font-size: 10px !important;
  }
}

@media (max-width: 960px) {
  .flipping-card {
    flex: none;
    height: 240px !important;
  }
  .flip-card-certified .back p {
    font-size: 16px !important ;
    width: 90%;
  }
}

.flipping-card:hover {
  background: #df6438;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

/* Front and back face */

.front,
.back {
  position: absolute;
  width: 80%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;

  padding: 10px 40px;
}

.front {
  display: flex;
  justify-content: center;
  height: 100%;
  /* border: 1px solid white; */
}

.front img {
  height: 80px;
}

.back {
  transform: rotateY(180deg);
}

.first-flip-card {
  padding-left: 10px !important;
}

/* Hover effect */
.flipping-card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Responsive Adjustments */

@media (max-width: 768px) {
  .img-logo,
  .img-map {
    max-width: 90%; /* Allow larger images on smaller screens */
  }
  .polygon-text {
    font-size: 8px !important;
  }
  .flipping-card .back p {
    font-size: 14px !important;
  }
}

@media (max-width: 576px) {
  .img-logo,
  .img-map {
    max-width: 100%; /* Full width on very small screens */
  }
  .polygon-text {
    font-size: 6px !important;
  }
}

@media (max-width: 1275px) {
  section {
    padding: 50px 80px;
  }

  .back {
    padding: 10px 20px;
  }
}

@media (max-width: 1120px) {
  section {
    padding: 50px 60px;
  }
}

@media (max-width: 960px) {
  .flipping-card-container {
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
  }

  .flipping-card {
    width: 100%;
    text-align: center !important;
  }

  .flipping-card p {
    text-align: center !important;
  }

  .flipping-card .front {
    align-items: center !important;
    justify-content: center !important;
  }
}

@media (max-width: 500px) {
  .tab-1 .tab-content {
    padding: 20px 0px !important;
  }

  section {
    padding: 50px 0px;
  }
}

/* Programme impact card */
.impact-card {
  height: 100%;
  text-align: center;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 1px 3px 7px #0000003b;
  padding: 20px;
}
.impact-card h1,
.impact-card span {
  color: #e04f26; /* Orange color */
  font-size: 26px;
  font-weight: 600;
  min-height: 20px;
}
.impact-card p {
  font-size: 16px;
  color: #333;
  max-width: 160px;
  margin-bottom: 0 !important;
}
.impact-title {
  text-align: center;
  color: #f05623;
  margin-bottom: 40px;
}

/* tabs */
.new-tab-container-0 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  width: 80%;
  height: 100%;
}
.new-tab-card-container-0 {
  position: relative;
  display: flex;
  justify-content: center;
}

.new-tab-1-0 {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 2.5px solid black; */
  border-bottom: 0;
  border-right-width: 0;
  /* margin-left: 15%; */
  /* clip-path: polygon(31% 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 0 50%, 0 0); */
}
.new-tab-2-0 {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;

  /* border-top: 2.5px solid black; */
  /* clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%, 0% 0%); */
}
.inner-tab-2-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f8e3d4;
}
.inner-tab-2-0 .active {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  /* clip-path: polygon(1% 0, 84% 0, 99% 50%, 84% 100%, 1% 100%, 16% 50%); */
}
.new-tab-3-0 {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  /* margin-left: -15%; */
  /* border: 2.5px solid black; */

  border-left: 0;
  border-bottom: 0;
  /* clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 15% 50%); */
}
.new-tab-1-0,
.new-tab-2-0,
.new-tab-3-0 {
  border-top: 2px #df6437 solid !important;
  padding: 10px 0px;
}

.new-tab-1-0.active,
.inner-tab-2-0 .active,
.new-tab-2-0.active,
.new-tab-3-0.active {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: none !important;
}

@media (max-width: 768px) {
  .new-tab-container-0 {
    width: 80%;
    height: 100%;
    gap: 10px;
  }

  .new-tab-1-0,
  .new-tab-2-0,
  .new-tab-3-0 {
    padding: 10px 10px !important;
  }

  .new-tab-1-0 {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    border-bottom-width: 2.5px;
    border-right-width: 2.5px;
    margin-left: 0%;
    clip-path: none;
  }
  .new-tab-2-0 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: none;
    border: 0;
    border-top: 0;
    border-bottom: 0;
  }
  .inner-tab-2-0 {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8e3d4;
    clip-path: none;
  }
  .new-tab-3-0 {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    border: 0;
    border-left-width: 2.5px;
    border-bottom-width: 2.5px;
    clip-path: none;
  }
}

.new-tab-card-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  /* padding: 16px 0px; */
}
.new-tab-card-0.active {
  background-color: #000000;
  color: white;
}
.new-tab-card-0:hover {
  cursor: pointer;
}

.new-tab-card-0 h2 {
  text-align: left;
  width: 60%;
  /* border: 1px solid white !important; */
}

.new-tab-card-p-0 {
  margin-top: 16px !important;
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.new-tab-card-p-0 p {
  font-size: 20px !important;
}

.new-tab-content-0 {
  position: relative;

  width: 100%;
  padding: 80px;
  color: white;
  border-radius: 20px;
}

#tab-1 {
  background: url("assets/Funds/ForgeFunds/bg-image/1.jpg") no-repeat
    center/cover;
}
#tab-2 {
  background: url("assets/Funds/ForgeFunds/bg-image/1.jpg") no-repeat
    center/cover;
}
#tab-3 {
  background: url("assets/Funds/ForgeFunds/bg-image/1.jpg") no-repeat
    center/cover;
}

/* #tab1 {
  background: url("./assets/Academy/user-bg.png") no-repeat center/cover;
}
#tab2 {
  background: url("./assets/Academy/engineer-bg.png") no-repeat center/cover;
}
#tab3 {
  background: url("./assets/Academy/innovator-bg.png") no-repeat center/cover;
} */

.new-tab-content-0 p {
  position: relative;
  z-index: 1;
  font-size: 16px !important;
}

@media (max-width: 1528px) {
  .new-tab-card-p-0 {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .new-tab-content-0 {
    padding: 20px;
  }

  .new-tab-card-0 {
    font-size: 14px;
    padding: 0px;
  }
}

.card-container {
  position: relative;
  border-radius: 20px;
  padding: 40px 60px;
  display: flex;
  gap: 10px;
}
.card-container-pathways {
  position: relative;
  border-radius: 20px;
  padding: 40px 60px;
  display: flex;
  gap: 10px;
}
.card-wrapper {
  position: relative;
}

.pathways-bg {
  background: url("assets/Funds/ForgeFunds/bg-image/3.jpg") no-repeat center
    center/cover;
}

.impact-bg {
  background: url("./assets/Foundry/impact-bg.png") no-repeat center
    center/cover;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}
.overlay-blue {
  background: #05012b;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay-violet {
  background: #000d36;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-green {
  background: #012001;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-content {
  position: relative;
  z-index: 1;
}
.card-header {
  text-align: center;
  color: #df6438;
}

.card-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-img-container img {
  width: 80%;
  object-fit: contain;
}

.card-content p {
  margin-bottom: 18px;
}

.card-desc {
  font-size: 16px;
  text-align: start;
}

.card-stat-item-container {
  display: flex;
  flex-direction: column;
}

.card-with-stat {
  width: 60%;
}

@media (max-width: 2000px) {
  .card-with-stat {
    width: 70% !important;
  }
}
@media (max-width: 1670px) {
  .card-with-stat {
    width: 80% !important;
  }
}
@media (max-width: 1270px) {
  .card-with-stat {
    width: 90% !important;
  }
}
@media (max-width: 1000px) {
  .card-with-stat {
    width: 100% !important;
  }
}
.card-stat-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card-stat-item {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;
}

.card-stat-item .card-p {
  text-align: left;
}

.card-stat-item img {
  height: 50px;
  object-fit: contain;
}

@media (max-width: 670px) {
  .card-stat-item-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    gap: 4;
  }
  .card-stat-item-wrapper {
    gap: 10px;
  }
  .card-stat-item {
    flex: 1 1;
  }
}

@media (max-width: 460px) {
  .card-stat-item-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .card-stat-item-wrapper {
    /* min-width: 120px; */
    display: flex;
    flex-direction: column;
  }
  .card-stat-item {
    flex: 1;
  }
}

.solution-item-wrapper p {
  max-width: 200px;
}

.card-stat-number {
  font-size: 24px;
  font-weight: bold;
  color: #f6ac1f;
}
.card-p {
  font-size: 14px;
  text-align: center;
}
.right-arrow {
  display: block;
}

.down-arrow {
  display: none;
}
.card-logo-small {
  width: 15%;
  object-fit: contain;
}
.card-logo-medium {
  /* width: 20%; */
  max-height: 100px;
  object-fit: contain;
}
.card-logo {
  /* width: 25%; */
  max-height: 70px;
  object-fit: contain;
}
.card-logo-big {
  /* width: 40%; */
  max-height: 90px;
  object-fit: contain;
}
.card-logo-big-3 {
  /* width: 35%; */
  max-height: 40px;
  object-fit: contain;
}
.card-logo-huge {
  width: 40%;
  object-fit: contain;
}

.card-title {
  font-size: 34px;
  font-weight: 800;
}
.card-section-title {
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 1800px) {
  .card-logo {
    /* width: 25%; */
    max-height: 100px;
    object-fit: contain;
  }
  .card-logo-big-3 {
    /* width: 35%; */
    max-height: 60px;
    object-fit: contain;
  }
}
@media (min-width: 1600px) {
  .card-logo {
    /* width: 25%; */
    max-height: 80px;
    object-fit: contain;
  }
  .card-logo-big-3 {
    /* width: 35%; */
    max-height: 40px;
    object-fit: contain;
  }
  .card-logo-medium {
    /* width: 15%; */
    max-height: 80px;
  }
  .card-logo-big {
    /* width: 30%; */
    max-height: 80px;
  }
}

@media (max-width: 1200px) {
  .card-logo {
    /* width: 25%; */
    max-height: 60px;
    object-fit: contain;
  }
  .card-logo-big-3 {
    /* width: 35%; */
    max-height: 45px;
    object-fit: contain;
  }
  .card-logo-medium {
    max-height: 80px;
  }
  .card-logo-big {
    /* width: 50%; */
    max-height: 80px;
  }
}

@media (max-width: 992px) {
  .card-logo {
    /* width: 25%; */
    max-height: 50px;
    object-fit: contain;
  }
  .card-logo-big-3 {
    /* width: 35%; */
    max-height: 35px;
    object-fit: contain;
  }
  .card-logo-big {
    /* width: 50%; */
    max-height: 60px;
  }
  .card-stat-number {
    font-size: 20px;
  }
  .card-title {
    font-size: 28px;
  }
  .card-section-title {
    font-size: 20px;
    font-weight: 700;
  }
}

/* Small screen */
@media (max-width: 768px) {
  .card-container {
    padding: 40px;
  }
  .right-arrow {
    display: none;
  }

  .down-arrow {
    display: block;
  }

  .solution-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-desc {
    font-size: 12px;
  }
  .card-p {
    font-size: 12px;
  }
  .card-logo {
    max-height: 50px;
  }
  .card-logo-medium {
    /* width: 25%; */
    max-height: 80px;
  }
  .card-logo-big {
    /* width: 50%; */
    height: 120px;
  }
  .card-logo-big-3 {
    /* width: 35%; */
    max-height: 30px;
    object-fit: contain;
  }
  .card-logo-huge {
    width: 50%;
    object-fit: contain;
  }
  .card-logo-small {
    width: 25%;
    object-fit: contain;
  }
}

@media (max-width: 576px) {
  .card-logo {
    max-height: 35px;
  }
  .card-logo-big-3 {
    /* width: 35%; */
    max-height: 20px;
    object-fit: contain;
  }
  .card-stat-item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .card-p {
    text-align: center !important;
  }
  .card-desc {
    font-size: 14px;
  }
  .card-stat-number {
    font-size: 18px;
  }
  .card-title {
    font-size: 18px;
  }
  .card-section-title {
    font-size: 20px;
  }
}

/* industry innovation labs */
.innovation-section {
  background-color: white;
  padding: 40px 20px;
  text-align: center;
}
.innovation-title {
  color: #e95420;
  font-weight: bold;
  font-size: 2rem;
}
.innovation-content-section {
  background-color: #662e1a;
  color: white;
  padding: 40px;
}
.innovation-card {
  background-color: transparent;
  border: none;
}
.innovation-card-body {
  background-color: #8b3e2e;
  border-radius: 8px;
  padding: 20px;
}
.innovation-icon img {
  width: 60px;
  height: auto;
}

/* card */
.card-container {
  color: white;
  padding: 40px 120px;
  border-radius: 20px;
  position: relative;
}

.overlay {
  background: #0c0e0c;
  opacity: 0.9;
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-red {
  background: #2f0001;
  opacity: 0.9;
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-content {
  width: 60%;
  position: relative;
  z-index: 1;
}

.card-content .card-image {
  width: ;
  object-fit: contain;
}

.card-desc h4 {
  font-size: 24px;
  text-align: start;
  color: #df6437;
}

/* Small screen */
@media (max-width: 1200px) {
  .card-content {
    width: 100%;
  }
  /* .overlay {
    border-top-left-radius: 0px;
  } */
}
@media (max-width: 768px) {
  .card-container {
    padding: 40px;
  }

  /* .overlay {
    border-top-left-radius: 0px;
  } */
}

@media (max-width: 576px) {
  .card-desc {
    font-size: 14px;
  }
}

/* flipping card */

/* special-card */

.polygon-container {
  max-width: 100%;
}
@media (max-width: 1400px) {
  .polygon-container {
    max-width: 100%;
  }
}
.polygon {
  background-color: black;
  padding: 20px 0px !important;
}
.polygon:hover {
  background-color: #df6437;
}

.polygon-between {
  position: relative;
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 220px;
  border: 1px solid black;
  clip-path: polygon(31% 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%, 0 0);
}
.polygon-between::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 220px;
  background-color: 1px solid black;
  clip-path: polygon(31% 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%, 0 0);
}

.polygon-start {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 140px;
  height: 220px;
  border: 1px solid black;
  clip-path: polygon(31% 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 0 50%, 0 0);
}
.polygon-end {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 140px;
  height: 220px;
  border: 1px solid black;
  clip-path: polygon(31% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 15% 50%, 0 0);
}

.polygon-back {
  width: 60%;
  text-align: left;
  padding: 0;
}

.s-card-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* padding-top: 20px !important; */
  gap: 10px;
  text-align: center;
}

.s-p-number {
  width: 100%;
  font-size: 24px !important;
  font-weight: 700 !important;
  text-align: left;
}

.s-card-container img {
  margin-bottom: 14px;
}

.s-p-name {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.6;
}

/* label for sliders */
.label-poly {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 220px;
  border: 1px solid black;
  clip-path: polygon(31% 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%, 0 0);
}

/* tables for sliders */
.table {
  border-collapse: collapse;
  width: 100%;
  z-index: 1;
  color: white;
  position: relative;
}

.table tbody {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.table th {
  font-weight: 700;
  text-transform: uppercase;
}
.table tr {
  /* padding: 2px 0px; */
  display: flex;
  height: 100%;
}

.table th,
.table td {
  width: 100%;
  color: white;
  background-color: transparent;
  text-align: left;
}

.table td {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0px;
}

.table-left {
  display: flex;
  /* align-items: center; */
}

.table .table-left {
  text-transform: uppercase;
  font-weight: 500;
}
.double-row {
  /* padding: 0px !important; */
  display: flex !important;
  align-items: center;
}
.double-row > div:first-child {
  width: 100%;
  padding-bottom: 20px;
  /* border: 1px solid white; */
}
.double-row > div:last-child {
  width: 100%;
  padding-top: 20px;
  /* border: 1px solid white; */
}
.double-row > hr {
  z-index: 100 !important;
  /* padding: 0px !important; */
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  /* background-color: rgb(255, 255, 255); */
  /* color: red; */
}

.table-hline {
  position: absolute;
}

@media (max-width: 600px) {
  .table td {
    padding: 10px 0px;
  }
}

.form-control:focus {
  box-shadow: none;
}

/* .form-control {
  transition: none;
} */

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: auto;
  /* padding: 20px;  */
  box-sizing: border-box;
}

.swiper-slide-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
}

.swiper-slide h5 {
  margin: 10px 0;
  text-align: left;
}

.swiper-slide img {
  object-fit: contain;
}

.swiper-slide-para {
  margin-top: auto;
  text-align: left;
}

.swiper-pagination-bullet-active {
  background-color: #df6437;
}

/* venture studio tabs */

/* tabs */
.overlay-brown {
  background: #2f0001;
  opacity: 0.9;
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay-brown-red {
  background: #2c1601;
  opacity: 0.9;
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.new-tab-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.new-tab-card-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.new-tab-1 {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 2.5px solid black; */
  border-bottom: 0;
  border-right-width: 0;
  /* margin-left: 15%; */
  /* clip-path: polygon(31% 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 0 50%, 0 0); */
}
.new-tab-2 {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;

  /* border-top: 2.5px solid black; */
  /* clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%, 0% 0%); */
}
.inner-tab-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.inner-tab-2 .active {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3e1514;

  /* clip-path: polygon(1% 0, 84% 0, 99% 50%, 84% 100%, 1% 100%, 16% 50%); */
}
.new-tab-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  /* margin-left: -15%; */
  /* border: 2.5px solid black; */

  border-left: 0;
  border-bottom: 0;
  /* clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 15% 50%); */
}
.new-tab-1,
.new-tab-2,
.new-tab-3 {
  border-top: 2px #df6437 solid !important;
  padding: 10px 0px;
}

.new-tab-1.active,
.inner-tab-2 .active,
.new-tab-2.active,
.new-tab-3.active {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: none !important;
}

@media (max-width: 768px) {
  .new-tab-container {
    width: 80%;
    height: 100%;
    gap: 10px;
  }

  .new-tab-1,
  .new-tab-2,
  .new-tab-3 {
    padding: 10px 10px !important;
  }

  .new-tab-1 {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    border-bottom-width: 2.5px;
    border-right-width: 2.5px;
    margin-left: 0%;
    clip-path: none;
  }
  .new-tab-2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: none;
    border: 0;
    border-top: 0;
    border-bottom: 0;
  }
  .inner-tab-2 {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: none;
  }
  .new-tab-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    border: 0;
    border-left-width: 2.5px;
    border-bottom-width: 2.5px;
    clip-path: none;
  }
}

.new-tab-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 100%;
  max-width: 340px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  /* padding: 16px 0px; */
}
.new-tab-card.active {
  background-color: #3e1514;
  color: white;
}
.new-tab-card:hover {
  cursor: pointer;
}

.new-tab-card h2 {
  text-align: left;
  width: 60%;
  /* border: 1px solid white !important; */
}

.new-tab-card-p {
  margin-top: 16px !important;
  width: 70%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.new-tab-content {
  position: relative;

  width: 100%;
  padding: 80px;
  color: white;
  border-radius: 20px;
}

#tab1 {
  background: url("assets/Funds/ForgeFunds/bg-image/2.jpg") no-repeat
    center/cover;
}
#tab2 {
  background: url("assets/Funds/ForgeFunds/bg-image/2.jpg") no-repeat
    center/cover;
}
#tab3 {
  background: url("assets/Funds/ForgeFunds/bg-image/2.jpg") no-repeat
    center/cover;
}

.new-tab-content p {
  position: relative;
  z-index: 1;
  font-size: 16px !important;
}

@media (max-width: 1528px) {
  .new-tab-card-p {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .new-tab-content {
    padding: 20px;
  }

  .new-tab-card {
    font-size: 14px;
    padding: 0px;
  }
}

.swiper-button-next {
  position: absolute;
  right: 10px;
  z-index: 20;
  background: url("assets/Fast/right-arrow.png") no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  color: transparent;
}

.swiper-button-prev {
  position: absolute;
  left: 10px;
  background: url("assets/Fast/left-arrow.png") no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  color: transparent;
}

.value-creation-swiper {
  display: flex;
  align-items: center;
}
.value-creation-swiper .swiper-slide {
  margin: 0;
}

.pathways-swiper {
  display: flex;
  align-items: center;
}
.pathways-swiper .swiper-slide {
  margin: 0;
}

.lifecycle-container {
  width: 100%;
  height: 100%;
  /* background: url("assets/Funds/ForgeFunds/Graph/background.jpg") no-repeat
  center center;
  background-size: contain; */
}

.lifecycle-bg-container {
  width: 100%;
  height: 100%;
}

.lifecycle-bg-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
}

.lifecycle-wrapper {
  background: url("assets/Funds/ForgeFunds/Graph/Main Graph.png") no-repeat
    center center;
  background-size: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  width: 100%;
}
.lifecycle-img-container {
  position: absolute;
  display: flex;
  display: hidden;
  justify-content: end;
  width: 80%;
  opacity: 60%;
}
.lifecycle-img-container:hover {
  opacity: 100%;
}
.lifecycle-img-container img {
  object-fit: contain;
}
.lifecycle-img-container1 {
  opacity: 0;
  right: -0.25%;
  top: 9.5%;
  width: 90%;
}
.lifecycle-img-container2 {
  opacity: 0;
  top: 28%;
  width: 88%;
}

.lifecycle-img-container3 {
  opacity: 0;
  top: 48%;
  right: -1%;
  width: 94.75%;
}
.lifecycle-img-container4 {
  opacity: 0;
  left: 7%;
  top: 68%;
  width: 58%;
}

.lifecycle-img-container1:hover {
  opacity: 100;
}
.lifecycle-img-container2:hover {
  opacity: 100;
}

.lifecycle-img-container3:hover {
  opacity: 100;
}
.lifecycle-img-container4:hover {
  opacity: 100;
}
